extract/go_dictionary
extract/proteins_goes
extract/proteins_seqs
extract/uniprot-filtered-reviewed_yes.xml
extract/.uniprot-filtered-reviewed_yes.xml.swp
prepare/data/*
prepare/.ipynb_checkpoints/*
train/ckpt/*
train/logs/*
train/savedModel/*
evaluate/models/*
evaluate/BLAST_baseline/uniprot_db/*
evaluate/BLAST_baseline/blast_predictions/*
evaluate/BLAST_baseline/blast_ref_predictions.txt
evaluate/BLAST_baseline/queries.fasta
evaluate/BLAST_baseline/results_queries.csv
testing/*
